/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.logo {
	float: left;
	width: 20%;
}

.navigation {
	float:left;
	width:80%;
}

.header {

}

.header:after{
                    clear:both;
                    display:block;
                    visibility: hidden;
                    content: "";
                    height: 0;
               }


.main_content {}
/* hint! */

.post {
	width:80%;
	margin-left:10%;
}
/* hint! */
.post:after{
                    clear:both;
                    display:block;
                    visibility: hidden;
                    content: "";
                    height: 0;
               }

.image {
	float:left;
	width:20%;
}

.post_excerpt {
	float:left;
	width:60%;
	margin-left:5%;
}
