/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 80%; /* change me to a percentage width, like 80% */
	margin: 0 auto;
}


.header {}

.header:after{
                    clear:both;
                    display:block;
                    visibility: hidden;
                    content: "";
                    height: 0;
               }
.logo {
	float:left;
	width: 15%;
}

.navigation {
	float: left;
	width: 85%;
}

.sidebar {
	float:left;
	width:20%;
	height: 300px;
}

.main_content {}
.main_content:after{
                    clear:both;
                    display:block;
                    visibility: hidden;
                    content: "";
                    height: 0;
               }

.sub_content {
	float:left;
	width: 75%;
	height: 150px;
	min-width: 10px;
}

.sub_content_2 {
	float: left;
	width: 75%;
	height: 150px;
}

.footer {}
