/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}
/* hint! what do you have to add here? */

.header:after{
                    clear:both;
                    display:block;
                    visibility: hidden;
                    content: "";
                    height: 0;
               }

.logo {
	float: left;
	width: 15%;
}

.navigation {
	float: right;
	width: 85%;
}

.sidebar {
	clear:left;
	float: left;
	width:25%;
	height:300px;
}

.main_content {

}
/* hint! you have to contain the floated children elements. */
.main_content:after{
            clear:both;
            display:block;
            visibility: hidden;
            content: "";
            height: 0;
               }
.sub_content {
	float: right;
	width:75%;
	height: 150px;
	/* hint! */
}
.sub_content_2 {
	float: right;
	width:75%;
	height: 150px;
	/* hint! */
}

.footer {
	clear:both;
	height: 100px;
}
