/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}
/* hint! you have to contain the floated children elements. */
.header:after{
	clear:both;
	display:block;
	visibility: hidden;
	content: "";
	height: 0;
}
.logo {
	float:left;
	width:15%;
	/* hint! */
}

.navigation {
	float: right;
	width:85%;
	/* hint! */
}

.sidebar {
	clear:both;
	float: left;
	width:25%;
	height: 300px;
}

.main_content {
	clear:right;
	float:right;
	width:75%;
	height: 300px;
}

.footer {
	clear:both;
	height: 100px;
}
